{% extends 'main/layout.html' %}

{% block content %}

<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for prod in products %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{prod.image}}" width="100%" height="225" role="img" preserveaspectratio="xMidYMid slice" focusable="false">
            <div class="card-body">
              <p class="card-text">{{prod.title}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <span class="">{{prod.price}} <i class="fa-solid fa-ruble-sign"></i></span>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>    
</div>

{% endblock %}